.App {
  text-align: center;
  background-image: url('./images/stratego.jpg');
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
